BOT_TOKEN="8367748635:AAFi1WhcSWvpJJPDgT0znLOKjBmGVWeMkxE"
ADMIN_ID=535757271

POSTGRES_USER=livaishina
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=livaishina

POSTGRES_HOST=db
POSTGRES_PORT=5432
